* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: nexaL;
    src: url(../fontes/nexaL.otf);
}


@font-face {
    font-family: nexaB;
    src: url(../fontes/nexaB.otf);
}

body {
    font-family: NexaL;
    background-color: #fff;
}

#install {
    margin: 0 auto;
    margin-top: 80px;
    width: 850px;
    border-top: 2px solid #f00;
    padding: 20px 0;
}

.install-header {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: nexaB;
    text-align: center;
}

.color {
    display: inline;
}

.lk-color {
    color: #2ab0ee;
}

.dl-color {
    color: #f00;
}

.install-content {
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

#installBtn {
    color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 18px;
    background-color: #f00;
    font-family: nexaB;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.6s;
}

#installBtn:hover {
    opacity: 0.6;
    transition: 0.6s;
}

article {
    width: 100%;
    min-height: 1000px;
    margin: 0 auto;
}

.content {
    width: 850px;
    margin: 0 auto;
}

#howToUsePopup {
    background-color: #fff;
    height: 360px;
}

#howToUseConfiguration {
    background-color: #eee;
    height: 360px;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}

#bar {
    padding-top: 20px;
    height: 50px;
}

#adress {
    margin-top: 6px;
    float: right;
}

.itens {
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 1px dashed #ccc;
}

#image-name {
    margin-top: 13px;
}

#addLike {
    margin-top: 44px;
}

#addDisike {
    margin-top: 31px;
}

#percentage {
    margin-top: 18px;
}

#configuration {
    margin-top: 21px;
}

#search-info {
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    font-family: nexaB;
    margin-top: 14px;
    margin-right: 18px;
}

#popup {
    margin-top: 10px;
}

#popup-text {
    float: left;
    width: 462px;
    line-height: 20px;
}

#popup img {
    float: right;
    border: solid 1px #ccc;
}