header {
    background-color: #232323;
    width: 100%;
}

#header-fix {
    position: fixed;
    z-index: 1;
    top: 0;
    background: #232323;
    border-bottom: 2px solid #f00;
    width: 100%;
}

#header-content {
    height: 80px;
    width: 850px;
    margin: 0 auto;
    position: relative;
}

#logo {
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#logo img {
    margin: 0 auto;
    width: 300px;
}

#logo a {
    opacity: 1;
    transition: 0.6s;
}

#logo a:hover {
    opacity: 0.8;
    transition: 0.6s;
}

nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ul#menu {
    list-style-type: none;
}

#menu li {
    float: left;
    display: block;
}

#menu li a {
    display: block;
    color: white;
    border-radius: 18px;
    font-family: NexaB;
    text-transform: uppercase;
    line-height: 50px;
    height: 46px;
    font-size: 14px;
    margin-left: 15px;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
    transition: 0.6s;
}

#menu li a:hover {
    background-color: #404040;
    transition: 0.6s;
}

#menu li a.support {
    color: #f00;
}

#menu li a.active {
    background-color: #303030;
}