header {
    background-color: #000;
    width: 100%;
}

#header-fix {
    position: fixed;
    z-index: 1;
    top: 0;
    background: #000;
    border-bottom: 2px solid #f00;
    width: 100%;
}

#header-content {
    height: 80px;
    width: 850px;
    margin: 0 auto;
    position: relative;
}

#logo {
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#logo img {
    margin: 0 auto;
    width: 300px;
}

#logo a {
    opacity: 1;
    transition: 0.6s;
}

#logo a:hover {
    opacity: 0.8;
    transition: 0.6s;
}

nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ul#menu {
    list-style-type: none;
}

#menu li {
    float: left;
    display: block;
}

#menu li a {
    display: block;
    color: white;
    border-radius: 18px;
    font-family: NexaB;
    text-transform: uppercase;
    line-height: 50px;
    height: 46px;
    font-size: 14px;
    margin-left: 10px;
    padding: 0 15px;
    text-decoration: none;
    text-align: center;
    transition: 0.6s;
}

.active:after {
    content: initial;
}

#menu li a:hover {
    background-color: #121212;
    transition: 0.6s;
}

#menu li a.support {
    color: #f00;
}

#menu li a.active {
    background-color: #121212;
}

footer {
    width: 100%;
    background: #000;
    color: #fff;
    clear: both;
    border-top: 1px dotted #ccc;
}

#footer {
    padding: 20px 0;
    height: 60px;
    width: 850px;
    margin: 0 auto;
}

.footerImg {
    position: relative;
    height: 60px;
    float: left;
    width: 130px;
    margin-bottom: 20px;
}

#footer img.fbfLogo {
    width: 100px;
}

#footer img.github {
    width: 48px;
}

#footer img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footerText {
    text-align: center;
    width: 590px;
    float: left;
    height: 60px;
    font-size: 15px;
    line-height: 60px
}

.footerText a {
    color: #f00;
    text-decoration: none;
    font-weight: bold;
}

#menuMobileOpen {
    display: none;
}


@media only screen and (max-width: 920px) {

    #header-content {
        width: 90% !important;
        height: auto;
        padding: 10px 0;
    }

    #logo {
        position: relative;
        width: 90% !important;
        margin: 0 auto;
        top: initial;
        transform: none;
    }

    #logo img {
        width: 75% !important;
        max-width: 320px;
    }

    #menuMobileOpen {
        cursor: pointer;
        display: block;
        color: #fff;
        position: absolute;
        top: 50%;
        font-size: 20px;
        transform: translateY(-50%);
        right: 5px;
    }

    .hideMobile {
        display: none;
    }

    nav {
        position: static;
        right: initial;
        top: initial;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #fff;
        transform: none;
        width: 100%;
    }

    #menu li {
        float: none;
    }

    #footer {
        width: 90% !important;
    }

    .footerImg {
        width: 50%;
        text-align: center;
    }

    .footerText {
        width: 100%;
        height: auto;
        line-height: normal;
        padding-top: 10px;
        margin-bottom: 30px;
    }

}