*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: nexaL;
    src: url(../fontes/nexaL.otf);
}


@font-face {
    font-family: nexaB;
    src: url(../fontes/nexaB.otf);
}

body{
    font-family: NexaL;
}

header{
    background-color: #232323;
    width: 100%;
}

#header-content{
    height: 70px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#logo{
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#logo img{
    margin: 0 auto;
    width: 150px;
}

#logo a{
    opacity: 1;
    transition: 0.6s;
}

#logo a:hover{
    opacity: 0.8;
    transition: 0.6s;
}

nav{
    float:right;
}

ul#menu{
    list-style-type: none;
}
#menu li{
    float: left;
    display: block;
}

#menu li a {
    display: block;
    color: white;
    font-family: NexaB;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 20px;
    line-height: 70px;
    height: 70px;
    text-decoration: none;
    text-align: center;
    transition: 0.6s;
}

#menu li a:hover{
    background-color: #404040;
    transition: 0.6s;
}

#menu li a.support{
    color: #f00;
}

#menu li a.active{
    background-color: #303030;
}

article{
    width: 900px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 20px;
}

.box{
    width: 50%;
    margin-bottom: 20px;
    float: left;
}

.header-box{
    border: 1px solid;
    background-color: #fff;
    text-align: center;
    width: 95%;
    height: 60px;
    line-height: 60px;
    position: relative;
    margin: 0 auto;
    font-family: NexaB;
    font-size: 17px;
    text-transform: uppercase;
}

.header-box img{
    float: left;
    width: 34px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.like .header-box{
    border-color: #5e70fa;
}

.dislike .header-box{
    border-color: #f00;
}

.content-box{
    position: relative;
    margin: 0 auto;
    width:95%;
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
    padding-top: 15px;
    border: 1px solid #ccc;
    border-top: 0;
    background-color: #eee;
}

.btn{
    width: 90%;
    height: 40px;
    line-height: 45px;
    border-radius: 12px;
    padding-left: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.4s;
}

.btn:hover{
    opacity: 0.6;
    transition: 0.4s;
}

.btn.removed{
    opacity: 0.6;
    transition: 0.4s;
}
.btn.removed:hover{
    opacity: 1;
    transition: 0.4s;
}

.btn img{
    width: 32px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.react .header-box{
    border-color: #ccc;
    height: 40px;
    line-height: 45px;
}

.react .content-box{
    min-height: 70px;
    max-height: 70px;
}

.percent{
    display: inline;
    color: #f00;
    font-size: 22px;
    margin-left: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background: #232323;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f00;
    cursor: pointer;
  }