* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: nexaL;
    src: url(files/nexaL.otf);
}


@font-face {
    font-family: nexaB;
    src: url(files/nexaB.otf);
}

body {
    font-family: NexaL;
    background-color: #232323;
}

[show="false"] {
    display: none !important;
}

#install {
    margin: 0 auto;
    margin-top: 80px;
    width: 850px;
    border-top: 2px solid #f00;
    padding: 20px 0;
}

.install-header {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: nexaB;
    text-align: center;
}

.color {
    display: inline;
}

.lk-color {
    color: #2ab0ee;
}

.dl-color {
    color: #f00;
}

.install-content {
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

#installBtn {
    color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 18px;
    background-color: #f00;
    font-family: nexaB;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.6s;
}

#installBtn:hover {
    opacity: 0.6;
    transition: 0.6s;
}

article {
    width: 100%;
    min-height: 1000px;
    margin: 0 auto;
}

#messagePop {
    text-align: center;
    font-family: nexaB;
    padding: 20px 20px 10px 20px;
    width: 200px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 0 10px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

#messagePop p {
    margin-bottom: 12px;
}

#messagePop img.closeImg {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.content {
    width: 850px;
    margin: 0 auto;
}

a[name="comoUsar"] {
    width: 100px;
    /*     border: 1px solid; */
    position: absolute;
    margin-top: -100px;
}

#howToUsePopup {
    background-color: #fff;
    height: 380px;
}


#bar {
    padding-top: 20px;
    height: 50px;
}

#adress {
    margin-top: 6px;
    float: right;
}

.itens {
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 1px dashed #ccc;
}

#image-name {
    margin-top: 13px;
}

#addLike {
    margin-top: 44px;
}

#addDisike {
    margin-top: 31px;
}

#percentage {
    margin-top: 18px;
}

#configuration {
    margin-top: 21px;
}

#popupInfo {
    width: 100%;
    font-size: 15px;
    float: left;
    margin: 2px 0px 15px 0px;
}

#search-info {
    float: left;
    text-transform: uppercase;
    font-size: 17px;
    font-family: nexaB;
    margin-top: 15px;
    margin-right: 18px;
}

#popup {
    margin-top: 10px;
}

#popup-text {
    float: left;
    width: 462px;
    line-height: 20px;
}

#popup img {
    float: right;
    border: solid 1px #ccc;
}

#horizontalImg {
    clear: both;
    margin-top: 305px;
    height: 90px;
}

#horizontalImgContent {
    width: 728px;
    text-align: center;
    line-height: 90px;
    margin: 0 auto;
    height: 90px;
    background: #eee;
}

#howToUseConfiguration {
    background-color: #fff;
    /*     height: 360px; */
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

#configurationTitle {
    font-family: nexaB;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 5px;
}

#configurationSubtitle {
    font-size: 15px;
}

#configurationImg {
    width: 100%;
    text-align: center;
}

#configurationImg img {
    padding: 12px;
    border: solid 1px #ccc;
    border-radius: 20px;
    background-color: #fff;
    width: 655px;
    margin-top: 20px;
}

#rightImg {
    margin-top: 20px;
    float: right;
    border: 1px solid #eee;
    padding: 12px;
    border-radius: 20px;
}

#rightImgContent {
    width: 120px;
    background: #eee;
    text-align: center;
    line-height: 240px;
    height: 240px;
}

a[name="apoie"] {
    width: 100px;
    /*     border: 1px solid; */
    position: absolute;
    margin-top: -100px;
}

#support {
    border-top: 2px solid #fff;
    background-color: #232323;
    padding-top: 20px;
    color: #fff;
}

#supportHead {
    width: 70%;
    float: left;
}

#share {
    width: 30%;
    float: left;
    text-align: right;
    text-align: center;
}

#supportTitle,
#support h2 {
    color: #f00;
    font-size: 17px;
    font-family: nexaB;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#support h2 {
    color: #fff;
}

#supportSubtitle {
    font-size: 15px;
    padding-top: 12px;
    ;
}

#donate {
    float: left;
    margin-top: 15px;
    text-align: center;
}

#donate h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
}

#paypal,
#picpay,
#picMensal {
    text-align: center;
    width: 33.333%;
    float: left;
}

#donate p {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
}

#paypal form {
    margin-top: 15px;
    width: 100px;
    margin: 0 auto;
}

img.qrcode {
    border: 2px solid #fff;
    width: 132px;
    margin-bottom: 5px;
}

p.picpayTitle {
    text-transform: none !important;
    font-family: nexaB;
}

p.picpayTitle a {
    color: #21c25e;
}

mark.pic {
    color: #21c25e;
    background: none;
    font-weight: bold;
}

p.picpayText {
    text-transform: none !important;
    line-height: 16px;
}

#picCode {
    margin: 10px 0;
    width: 100%;
    float: left;
}

footer {
    background: #232323;
    color: #fff;
    clear: both;
    border-top: 1px dotted #ccc;
}

#footer {
    padding: 20px 0;
    height: 60px;
    width: 850px;
    margin: 0 auto;
}

.footerImg {
    position: relative;
    height: 60px;
    float: left;
    width: 130px;
    margin-bottom: 20px;
}

#footer img.fbfLogo {
    width: 100px;
}

#footer img.github {
    width: 48px;
}

#footer img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footerText {
    text-align: center;
    width: 590px;
    float: left;
    height: 60px;
    line-height: 60px
}