* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: nexaL;
  src: url(../fontes/nexaL.otf);
}

@font-face {
  font-family: nexaB;
  src: url(../fontes/nexaB.otf);
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #515151;
  transition: 0.8s;
}

a:hover {
  transition: 0.8s;
}

.linkSite {
  cursor: pointer;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  width: 220px;
}

p#reactingInfo {
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #515151;
}

#popup {
  border: 1px solid #ccc;
  width: 380px;
  background-color: #eee;
}

#header {
  font-family: nexaB;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 15px 15px;
}

#header img {
  float: left;
  width: 48px;
  border-radius: 100%;
}

#name {
  margin-top: 6px;
  margin-bottom: -8px;
  margin-left: 58px;
  font-size: 17px;
  width: 205px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#refresh {
  float: right;
  margin-top: -25px;
}

#refresh img {
  width: 20px;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
}

#refresh img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#subscribe,
#support {
  float: right;
  margin-top: -8px;
  margin-right: 15px;
  font-size: 14px;
}

#subscribe[subscribed="false"] a,
#support a {
  color: #f00;
}

#subscribe[subscribed="true"] a {
  color: #515151;
}

#subscribe a:hover,
#support a:hover {
  color: #000;
}

#buttons {
  margin: 30px 15px 0px 15px;
}

.btn {
  margin-bottom: 15px;
  margin-right: 38px;
}

.btn a {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 18px;
  width: 100%;
  display: block;
  color: #000;
  font-family: nexaB;
  font-size: 14px;
}

.blur {
  filter: blur(2px);
  cursor: default !important;
  pointer-events: none;
}
.btn a:hover {
  border-color: #000;
}

[show="false"] {
  display: none;
}

.icon {
  float: left;
  cursor: pointer;
}

.icon.loading {
  float: right;
  margin-top: -38px;
  margin-right: -38px;
}

.icon img {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  width: 22px;
}

#likeAll img {
  margin-top: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 12px 20px;
}

li a:hover {
  background-color: #555;
  color: white;
}
